section{
    border: 1px solid;
    margin-bottom: 20px;
    padding: 20px;
}

h2, p{
    margin: 0 0 10px;
}

button{
    margin-right: 10px;
}

mat-divider{
    margin: 20px 0px;
}

span{
    font-size: 0.8rem;
    background: whitesmoke;
    margin-right: 10px;
    padding: 5px;
}